
<div class="w3-content" style="max-width:1600px">
    <header class="w3-container w3-center w3-padding-48 w3-white">
      <h1 class="w3-xxxlarge"><b>Gestion des Stages</b></h1>
      <h6>Ciments de Bizerte <span class="w3-tag">SCB</span></h6>
    </header>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/3 (1).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/4 (1).jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/2 (1).png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
    
<div class="w3-display-left w3-padding-large">

  <h1 class="w3-jumbo w3-text-white w3-hide-small"><b></b></h1>
</div>



<div class="w3-row w3-padding w3-border">

<div class="w3-col l8 s12">

  <div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
      <h3>Ciments de Bizerte</h3>
      <h5>Historique </h5>
    </div>

    <div class="w3-justify">
      <img src="../../assets/6 (1).jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
      <p><strong>Société des Ciments de Bizete "SCB"</strong> est une société anonyme crée le 01/11/1950 sous la désignation 'Les Ciments Protlands de Bizete' et elle n'est entrée en production qu'en Août 1953.</p>
      <p>Sa nationalisation a été réalisée en 1976,suivie d'une augmentation de capital qui atteint 14.598.283 Dinars détenue en majorité par l'Etat. C'est une grande entreprise qui produit principalement du Ciment et accessoirement de la chaux.</p>
      </div>
    </div>
  </div>
  
  <div class="w3-col l4">


    <div class="w3-white w3-margin">
      <div class="w3-container w3-padding w3-black">
        <h4>Les départements</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
          <img src="../../assets/7 (1).jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <h1><span class="w3-large">Direction d'affaires administratives </span></h1>
 
        </li>
        <li class="w3-padding-16">
          <img src="../../assets/8 (1).png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <h1><span class="w3-large">informatique et contrôle de gestion</span></h1>
          
        </li>
        <li class="w3-padding-16">
          <img src="../../assets/9 (1).jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <h1><span class="w3-large">financière et comptable</span></h1>
        
        </li>
        <li class="w3-padding-16">
          <img src="../../assets/10 (1).jfif" alt="Image" class="w3-left w3-margin-right" style="width:50px">
           <h1><span class="w3-large">centrale technique</span></h1> 
          
        </li>
        <li class="w3-padding-16">
            <img src="../../assets/11 (1).png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <h1><span class="w3-large">Direction Audit interne</span></h1>
            
          </li>
          <li class="w3-padding-16">
            <img src="../../assets/12 (1).jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <h1><span class="w3-large">Direction Commerciale</span></h1>
            
          </li>
          <li class="w3-padding-16">
            <img src="../../assets/13 (1).jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <h1><span class="w3-large">Secrétariat générale</span></h1>
            
   
          
       </li>
          
      </ul>
    </div>

  </div>
</div>