
                <div class="w3-content w3-container w3-padding-64" id="contact">
                    
                    <h3><p class="w3-center"><em>CONTACTEZ NOUS</em></p></h3>
                  
                    <div class="w3-row w3-padding-32 w3-section">
                      <div class="w3-col m4 w3-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.5218320254303!2d9.848672915238796!3d37.25905104943543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31f08aeb072a3%3A0x95f7f0a50ce2758c!2sLes%20Ciments%20de%20Bizerte!5e0!3m2!1sfr!2stn!4v1593509816560!5m2!1sfr!2stn" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </div>
                      
                      <div class="w3-col m8 w3-panel">
                        <div class="w3-large w3-margin-bottom">
                          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Bizerte,7000<br>
                          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Téléphone :72 43 18 85 – 72 43 11 66 – 72 43 20 79 <br>
                          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: contact@lescimentsdebizerte.ind.tn<br>
                        </div>
                        <p>Laissez-nous une note:</p>
                        <form action="/action_page.php" target="_blank">
                          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-half">
                              <input class="w3-input w3-border" type="text" placeholder="Nom" required name="Nom">
                            </div>
                            <div class="w3-half">
                              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                            </div>
                          </div>
                          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                          <button class="w3-button w3-black w3-right w3-section" type="submit">
                            <i class="fa fa-paper-plane"></i> Envoyer message
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                  <footer class="w3-padding-32 w3-black w3-center w3-margin-top">
                    <div class="w3-xlarge w3-padding-16">
                    <a href="https://m.facebook.com/109670507456376" > <i class="fa fa-facebook-official "></i></a>
                    <a href="https://instagram.com/scb_cimentsdebizerte?utm_medium=copy_link"><i class="fa fa-instagram "></i></a>
                    <a href="http://www.lescimentsdebizerte.ind.tn/"><i class="fa fa-dribbble"></i></a>
                    <a href="http://www.lescimentsdebizerte.ind.tn"><i class="fa fa-linkedin"></i></a>
                  </div>
                  </footer>       